/* Cores de fundo para os cards */
.crm-kanban-item.task-mayra {
  background-color: #ffe5ce !important;
}

.crm-kanban-item.task-duda {
  background-color: #e4f4ff  !important;
}

/* Garante que o background não seja sobrescrito */
.crm-kanban-item {
  transition: background-color 0.3s ease-in-out !important;
}
